
<div class="container">

  <div class="row">

    <div class="col-12">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
        
            <li class="nav-item" routerLinkActive="active" *ngFor="let pagina of paginas">
              <!-- <img src="{{item._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url}}"/> -->
              <a [routerLink]="['/conteudo-pagina', pagina.id ]" class="nav-link" routerLink="/{{pagina.id}}">{{pagina.title.rendered}}</a>
            </li>
            
          </ul>
          
        </div>
      </nav>
      

    </div>

  </div>

</div>




<!-- <a routerLink="/">Index</a>

<a routerLink="/home">Home</a> -->


